<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Literary Loft - Library Management System!</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('get_books') }}">Books</a></li>
            <li><a href="{{ url_for('get_users') }}">Users</a></li>
        </ul>
    </nav>
</body>
</html>
